img{
  max-width: 100%;
  height: auto;
}


.btn-bg{
  background-color: #fb674f !important;
  color: white !important;
}

.logo{
  width: 150px;
}



/* googl sign button */
.login-google {
  width: 300px;
}

.card-review img {
  width: 2.5rem;
  height: 2.5rem;
}